/* .App {
  text-align: center;
  justify-content: space-evenly;
  margin: auto;
  background-color: #7eca9c;
  columns: 3 auto;
}
*/

.characterContainer {
  height: 300px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
}
