.App {
background-color: #90d8f0;
text-align: center;
}

.characterContainer {
  height: 320px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.characterName {
  font-size: 20px;
  padding-top: 5px;
}

img {
  padding-bottom: 20px;
}
